# Bot Configuration - Use @botfather to create a bot and get your bot token
TELEGRAM_BOT_TOKEN = your_bot_token_here
BOT_OWNER_ID = your_telegram_user_id_here

# Railway Configuration - DO NOT CHANGE if deploying on Railway
RAILWAY_DEPLOYMENT_OVERLAP_SECONDS = 0
PORT = 443

# Database Configuration
DATABASE_URL = your_database_url_here